body { background-color: rgba(155, 200, 40, 1);
        margin: 20px;
        font-size: 20px;

}
p { 
    color: white;
    background-color: darkkhaki;
    padding: 30px;
    margin: 30px;
}

li {
    color: red;
}

ol {background-color: aquamarine;


}

.introduction {
    background-color: darkolivegreen;
    border: 60px dotted lightblue;
}

.wrapper {
    position: relative;
}

.test {
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
    color:aqua;
}

.test:hover {
    color:brown;
}